{% load static %}
<footer id="footer" class="footer dark-background">
  <div class="footer-top">
    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-4 col-md-6 footer-about">
          <a href="/home" class="logo d-flex align-items-center">
            <img
              src="{% static '/assets/img/library.avif' %}"
              alt="city library"
              width="50"
              height="30"
              class="d-inline-block align-text-top"
            />
          </a>
          <div class="footer-contact pt-3">
            <p>Chardobato,Madhyapur thimi</p>
            <p>Bhaktapur,Nepal</p>
            <p class="mt-3">
              <strong>Phone:</strong> <span>+977-9805652268</span>
            </p>
            <p><strong>Email:</strong> <span>citylibrary@gmail.com</span></p>
          </div>
          <div class="social-links d-flex mt-4">
            <a href="/"><i class="bi bi-twitter-x"></i></a>
            <a href="/"><i class="bi bi-facebook"></i></a>
            <a href="/"><i class="bi bi-instagram"></i></a>
            <a href="/"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>

        <div class="col-lg-2 col-md-3 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><i class="bi bi-chevron-right"></i> <a href="#"> Home</a></li>
            <li>
              <i class="bi bi-chevron-right"></i> <a href="/"> About us</a>
            </li>
            <li>
              <i class="bi bi-chevron-right"></i>
              <a href="#"> Terms of service</a>
            </li>
            <li>
              <i class="bi bi-chevron-right"></i>
              <a href="#"> Privacy policy</a>
            </li>
          </ul>
        </div>

        <div class="col-lg-2 col-md-3 footer-links">
          <h4>Our Services</h4>
          <ul>
            <li>
              <i class="bi bi-chevron-right"></i> <a href="#"> books reading</a>
            </li>
            <li>
              <i class="bi bi-chevron-right"></i>
              <a href="#"> books installment</a>
            </li>
            <li>
              <i class="bi bi-chevron-right"></i>
              <a href="#"> Product Management</a>
            </li>
            <li>
              <i class="bi bi-chevron-right"></i> <a href="#"> Marketing</a>
            </li>
            <li>
              <i class="bi bi-chevron-right"></i> <a href="#"> certificate</a>
            </li>
          </ul>
        </div>

        <div class="col-lg-4 col-md-12 footer-newsletter">
          <h4>About Us</h4>
          <p>
            This library website serves as a comprehensive digital gateway for
            accessing the library's resources and services. It allows users to
            browse the online catalog, which includes books, ebooks, audiobooks,
            and other media, and easily check availability or place holds on
            items. In addition to physical resources, many city libraries
            provide digital access to ebooks, audiobooks, research databases,
            and even streaming media, making it convenient to borrow materials
            from home. The website also offers essential services like account
            management, where users can renew borrowed items, view due dates,
            and track their reading history.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="copyright">
    <div class="container text-center">
      <p>
        © <span>Copyright</span> <strong class="px-1 sitename">LIMS</strong>
        <span>All Rights Reserved</span>
      </p>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you've purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: [buy-url] -->
        Designed by <a href="/">subhashKydv</a>
      </div>
    </div>
  </div>
</footer>
